#about-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#header-about {
  font-size: 2rem;
  text-align: justify;
  color: white;
}
.middle-box {
  font-size: 1.3rem;
  width: 85%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  text-align: justify;
  color: white;
  margin-left: 1;
}
#header-about-third {
  font-size: 1rem;
}
