body {
  width: 100vw;
  height: 100vh;
  --black: #100126;
}
.videoBanner {
  height: 80%;
}
.video__wrapper {
  height: 50%;
}
header {
  width: 100%;
}

.form-join {
  display: flex;
  font-size: 1.5rem;
  font-family: "Iceland";

  color: white;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 30rem;
}
.wrap-join {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
}
.header-carrer {
  background-color: transparent;
}
.carrer-wrapper {
  height: 75%;
  width: 35%;
}
.upload-image-btn {
  background-color: var(--pink) !important;
}
.upload-image-btn:hover {
  background-color: var(--cyan) !important;
  cursor: pointer;
}
